.action-btn {
  padding: 13px 16px;
  border: 1px solid #d46767;
  background-color: #f6ecec;
}

.action-btn:hover {
  cursor: pointer;
}

.action-btn:active {
  transform: scale(0.95);
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}
